@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
  }
  
  body{
    font-family: 'Comfortaa', cursive;
    background-color: black;
    color: white;
    overflow-x: hidden;
  }
  .fa-camera{
    color: #5b8cf5;
    margin: 0 10px;
    border: 2px solid salmon;
  }


